{% load static %}
<!doctype html>
<html>
<head>
    <title>Кошик</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <header>
        <img class="background" src="{% static 'images/background.jpg' %}" alt="Фон">
    <div class="cart-item-container">
        <ul class="cart-items-list">
            {% for item in cart_items %}
                <li class="cart-item">
                    <img src="{{ item.variant.product.image.url }}" alt="{{ item.variant.product.name }}" class="cart-item-image">
                    <div class="cart-item-details">
                        <!-- Відображення назви товару та вибраного розміру -->
                        <h3>{{ item.variant.product.name }} (Розмір: {{ item.variant.get_size_display }})</h3>
                        <p>Артикул: {{ item.variant.product.article_number }}</p>
                        <p>Збитки: {{ item.variant.product.damages }}</p>
                        <div class="cart-item-quantity">
                            <label for="quantity-{{ item.id }}">Кількість:</label>
                            <input type="number" id="quantity-{{ item.id }}" name="quantity" value="{{ item.quantity }}" min="1">
                        </div>
                        <p>Ціна за одиницю: ₴{{ item.variant.price }}</p>
                    </div>
                </li>
            {% empty %}
                <li>Ваш кошик порожній.</li>
            {% endfor %}
        </ul>
        <p class="total-price">Загальна сума: ₴{{ total_price }}</p>
    </div>
    <div class="related-products">
        <!-- Інша інформація -->
    </div>
</header>
    <footer>
        <!-- Футер сайту -->
    </footer>

</body>
</html>