{% load static %}
<!doctype html>
<html>
<head>
    <title>Контакти</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}"> 
    <!-- Інші метатеги та скрипти -->
</head>
<body>
    <header>
        <img class="contacts" src="{% static 'images/contacts.png' %}" alt="" width="194" height="64">
    </header>

    <div class="line-header"></div>
    <!-- Контент сторінки галереї -->
    <div class="line-header-copy"></div>

    <footer>
        <!-- Футер сайту -->
    </footer>
</body>
</html>
