{% load static %}
<!doctype html>
<html>
<head>
    <title>Gallery - Farfor Decor</title>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}"> 
    <!-- Інші метатеги та скрипти -->
</head>
<body>
    <header>
        <img class="gallery" src="{% static 'images/gallery.png' %}" alt="" width="201" height="66">
    </header>

    <div class="line-header"></div>
    <!-- Контент сторінки галереї -->
    <div class="line-header-copy"></div>

    <footer>
        <!-- Футер сайту -->
    </footer>
</body>
</html>
