body {
    background-color: #E1E1E1;
    /* загальні стилі */
}

.line-header {
    left: 0;
    max-width: 865px;
    position: absolute;
    top: 20px;
    width: 80.09259%; /* 865px / 1080px = 80.09259% */
    background: url('/static/images/line_header.png');
    margin: 0 auto;
    height: 4px;
  }
  .line-header-copy {
    left: 0;
    max-width: 808px;
    position: absolute;
    top: 133px;
    width: 74.81481%; /* 808px / 1080px = 74.81481% */
    background: url('/static/images/line_header_copy.png');
    margin: 0 auto;
    height: 4px;
  }

  .contacts {
    left: 42%;
    max-width: 194px;
    position: absolute;
    top: 41px;
    width: 17.962963%; /* 194px / 1080px = 17.962963% */
  }